<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<h4> Introduce la URL del video que quieres publicar:<%= f.text_field :content, placeholder: "Inserta un nuevo video..." %>  
  	Introduce el titulo del video:<%= f.text_field :titulo, placeholder: "Inserta un titulo..." %>  
  	<%= f.submit "Post", class: "btn btn-large btn-primary" %> </h4> 
  </div>
<% end %>

