<% if signed_in? %>
<% provide(:title, @usuario.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h4> Perfil de <%= @usuario.username %></h4>
    </section>
    <section>
      <h4>
      <%= gravatar_for @usuario %>
      Usuario: <br>
      <%= @usuario.username %><br>
      Email: <br>
      <%= @usuario.email %>
      </h4>
    </section>
      <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
    </section>
  </aside>
    <div class="span8"> 
    <%= render 'follow_form' if signed_in? %>   
    <% if @usuario.microposts.any? %>
      <h3>Twittubits: (<%= @usuario.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

<% else %>
<h6>Bienvenido a Twittube</h6>
<h5> Descubre los ultimos videos que han compartido tus amigos. </h5>

<div class="center hero-unit">
  <h1>Twittube</h1>

  <h2>
    Esta red social ha sido desarrollada gracias al
    <a href="http://railstutorial.org/">Tutorial de Ruby on Rails </a>
  </h2>

  <%= link_to "Registrate ahora!", signup_path, class: "btn btn-large btn-warning" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<h4> Desarrollado por: " Noel Díaz Mesa, Sergio Afonso García y María Rojas " </h4>
<% end %> 